<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236973427812-4cfr1gpofupp520jncf7allvpt10gucc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236973427812-4cfr1gpofupp520jncf7allvpt10gucc</string>
	<key>API_KEY</key>
	<string>AIzaSyCovryMfzcCDUvIs6oSttjEW2nmy_UCiQU</string>
	<key>GCM_SENDER_ID</key>
	<string>236973427812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tinderClone</string>
	<key>PROJECT_ID</key>
	<string>tinder-clone-314b9</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-clone-314b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236973427812:ios:b523dde34ee3007d046371</string>
</dict>
</plist>